<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>The Pocket ISS Locator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>

.footer {
  position: absolute;
  left: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: #181818;
  color: white;
  text-align: center;
}
  </style>

</head>

<body bgcolor="black">
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <center>
    <a class="navbar-brand" href="#">
    <img src="https://www.pngfind.com/pngs/m/85-859188_space-satellite-station-comments-space-station-icon-png.png" width="40" height="40" class="d-inline-block align-top text-justify" alt="">
    <span class="align-middle text-sm-center">&nbsp;&nbsp;WISS - Where's ISS?</span>
  </a>
  </center>
</nav>
<nav class="navbar navbar-light bg-light">
    <center>
    <form id='submit_params' method="POST" action="/"></form>

    <button class="btn btn-primary" type="button" onclick="document.getElementById('submit_params').submit();" >Locate ISS</button>
    <button class="btn btn-warning" type="button" onclick="window.location.href = '#inside_iss';">Live Feed</button>
    </center>
</nav>
<div id="map-here">
    {{forecast_plot}}
</div>

<div class="card" id="key" style="display:none">
  <div class="card-body">
    <img src="https://img.pngio.com/blue-cross-png-transparent-blue-crosspng-images-pluspng-blue-cross-png-2000_2000.png" height=18px width=18px>&nbsp;&nbsp;&nbsp;&nbsp;ISS
  </div>
</div>


<div class="card">
      <div class="card-body text-center">
    <h1>{{number}} Astronauts On The Station Now</h1>
    </div>
      <div class="card-body">

{% for i in astronaut_dict %}
    <img src="https://robohash.org/{{i}}.png" height=40 width=40>
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#{{ i }}">
            {{ i }}
    </button>
<div class="modal fade" id="{{ i }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ i }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <img src="{{ astronaut_dict[i][1] }}" class="img-thumbnail col-lg-5 mx-auto d-block"><br>
        {{ astronaut_dict[i][0] }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ astronaut_dict[i][2] }}';">Read More</button>
      </div>
    </div>
  </div>
</div>

    <br><br>
{% endfor %}

</div>
</div>
<div class="text-center">
    <center>
<h1 style="padding:15px">About ISS</h1>
<img src="static/iss_1.jpg" class="img-thumbnail col-lg-6" alt="ISS" style="padding:50px">
<p class="col-lg-6" style="padding-top:12px; padding-right:12px; padding-left:12px">The ISS programme is a joint project between five participating space agencies: NASA (United States), Roscosmos (Russia),
JAXA (Japan), ESA (Europe), and CSA (Canada). The ownership and use of the space station is established by intergovernmental
treaties and agreements.</p>

<p class="col-lg-6" style="padding-right:12px; padding-left:12px">The ISS serves as a microgravity and space environment research laboratory in which crew members conduct experiments in biology,
physics, astronomy, and other fields.</p>
</center>
</div>
<div class="text-center" id="inside_iss">
    <hr>
    <center>
    <h1 style="padding:15px">Inside ISS LIVE</h1><hr>
    <p class="col-lg-6" style="padding-top:12px; padding-right:12px; padding-left:12px">
    Live video from the International Space Station includes internal views when the crew is on-duty and Earth views at other times.
    The video is accompanied by audio of conversations between the crew and Mission Control. This video is only available when the space
    station is in contact with the ground.</p>
    <p class="col-lg-6" style="padding-top:12px; padding-right:12px; padding-left:12px">
        During "loss of signal" periods, viewers will see a blue screen.
    </p>
    </center>
    <center>
<div class="embed-responsive embed-responsive-16by9 img-thumbnail col-lg-6">
<span class="align-text-top">Setting Up Live Stream...</span>
<iframe class="embed-responsive-item" src="https://ustream.tv/embed/9408562" scrolling="no" allowfullscreen webkitallowfullscreen frameborder="0" style="border: 0 none transparent;"></iframe>
</div>
</center>
</div>
<div class="text-center">
    <hr>
    <center>
    <h1 style="padding:15px">Latest Tweets from ISS</h1>
<div class="img-thumbnail col-lg-6">
    <a class="twitter-timeline" data-lang="en" data-height="600" data-theme="light" href="https://twitter.com/Space_Station?ref_src=twsrc%5Etfw">
        Tweets by Space_Station</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
</div>
  <div class="footer">
  <p style="padding-top:6px">&#169;&nbsp;Ekagra Shukla</p>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</HTML>

